.container {
    max-width: 55rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.socials {
    display: flex;
    color: var(--foreground);
    font-family: monospace;
}

.socialHandle {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}