:root {
    --background: #fdfdfd;
    --foreground: #111;
}

[data-theme='dark'] {
    --background: #292828;
    --foreground: #d1cbb8;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: var(--background);
    color: var(--foreground);
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;

    &:visited {
        color: #1868d0;
    }

    &:hover {
        text-decoration: underline;
    }
}

[data-theme='dark'] a {
    color: #f07010;
    text-decoration: none;

    &:visited {
        color: #e08000;
    }

    &:hover {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    display: block;
}

table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    border: 1px solid var(--foreground);
    letter-spacing: 1px;
}

td, th {
    border: 1px solid var(--foreground);
    padding: 5px 10px;
    text-align: center;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

blockquote {
    background-color: #32302f;
    border-left: 4px solid #bd6f3e;
}

[data-theme='dark'] {
    @import 'gruvbox-dark.scss';
}

[data-theme='light'] {
    @import 'gruvbox-light.scss';
}

// Minimal CSS needed for standalone MathJax SVG.
// See https://github.com/mathjax/MathJax-demos-node/blob/master/simple/tex2svg.
svg a {
    fill: blue;
    stroke: blue;
}

[data-mml-node="merror"] > g {
    fill: red;
    stroke: red;
}

[data-mml-node="merror"] > rect[data-background] {
    fill: yellow;
    stroke: none;
}

[data-frame], [data-line] {
    stroke-width: 70px;
    fill: none;
}

.mjx-dashed {
    stroke-dasharray: 140;
}

.mjx-dotted {
    stroke-linecap: round;
    stroke-dasharray: 0, 140;
}

use[data-c] {
    stroke-width: 3px;
}

