// My own prism theme.
// It is work in progress and I'll update the colors lazily,
// that is, when something actually uses it, so a lot of them
// are still the gruvbox dark colors.
// The idea of using two hues comes from https://simurai.com/projects/2016/01/01/duotone-themes.

code[class*="language-"],
pre[class*="language-"] {
    --uno-hue: 220;
    --uno-1: hsl(var(--uno-hue), 18%, 84%);
    --uno-2: hsl(var(--uno-hue), 14%, 66%);
    --uno-3: hsl(var(--uno-hue), 10%, 54%);
    --uno-4: hsl(var(--uno-hue), 6%, 42%);
    --uno-5: hsl(var(--uno-hue), 2%, 32%);

    --duo-hue: 348;
    --duo-1: hsl(var(--duo-hue), 100%, 52%);
    --duo-2: hsl(var(--duo-hue), 80%, 44%);
    --duo-3: hsl(var(--duo-hue), 44%, 48%);
    --duo-4: hsl(var(--duo-hue), 22%, 32%);

	color: var(--uno-1);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
	background: #282828;
}

.token.comment,
.token.prolog,
.token.cdata {
    color: var(--uno-4);
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: var(--duo-1);
}

.token.operator,
.token.punctuation,
.token.attr-name {
    color: var(--uno-4);
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #fabd2f;
}

.token.entity,
.token.number,
.token.symbol {
    color: var(--uno-2);
}

.token.property,
.token.constant,
.token.variable {
	color: #fb4934;
}

.token.string,
.token.char {
	color: #b8bb26;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #a89984;
}

.token.url {
	color: #b8bb26;
	text-decoration: underline;
}

.token.function {
    color: var(--uno-1);
}

.token.regex {
	background: #b8bb26;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	background: #a89984;
}

.token.deleted {
	background: #fb4934;
}